@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#d21f1c;
    --main:#831513;
    --red:#e74c3c;
    --orange:#f39c12;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
    --box-shodow:0 .5rem 1rem rgba(140, 124, 124, 0.782);
    --light-color:#666;
    --light-bg:#e5d2d2;
}
.empty{
    width: 100%;
    background-color: var(--white);
    padding: 1.5rem;
    text-align: center;
    font-size: 2rem;
    color: var(--red);
    border-radius: .5rem;
    text-transform: capitalize;
    box-shadow: var(--box-shodow);
    border: var(--border);
 }
*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem 3rem;
    color: var(--white);
    cursor: pointer;
    font-size: 1.8rem;
    text-transform: capitalize;
    border-radius: .5rem;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 6rem;
    width: 10rem;
  
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:#fff;
}
.td tr {
    margin:0 1rem;
    font-size: 1.6rem;
    color:#fff;
}
.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}
.header .icons a{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--main-color);
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top:115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    padding:1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color:var(--black);
}

.header .search-form label:hover{
    color:var(--main-color);
}

.header .cart-items-container{
    position: absolute;
    top:100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #d9b6b6;
    padding:0 1.5rem;
}

.header .cart-items-container.active{
    right: 0;
}

.header .cart-items-container .cart-item{
    position: relative;
    margin:2rem 0;
    display: flex;
    align-items: center;
    gap:1.5rem;
}

.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top:1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover{
    color:var(--main-color);
}

.header .cart-items-container .cart-item img{
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color:var(--main-color);
}

.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(../images/home-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(../images/home-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color:#fff;
}

.home .content p{
    font-size: 3rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:#fff;
}

.about .row{
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
}


.films .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
 }
 
 .films .box-container .box{
    border: var(--border);
    box-shadow: var(--box-shodow);
    background-color: var(--bg);
    padding: 2rem;
    border-radius: .5rem;
 }
 
 .films .box-container .box .image{
    height: 20rem;
    width: 100%;
    object-fit: contain;
    margin-bottom:2rem;
 }
 
 .films .box-container .box .name{
    font-size: 2rem;
    color: var(--light-bg);
 }
 
 .films .box-container .box .flex{
    padding-bottom: 1rem;
    display: flex;
    gap: 1rem;
    align-items: flex-end;
 }
 
 .films .box-container .box .price{
    font-size: 1.7rem;
    color: var(--light-bg);
    margin-right: auto;
 }  
 
 .films .box-container .box .flex .seats{
    border: var(--light-bg);
    border-radius: .5rem;
    padding:.5rem 1rem;
    width:6.5rem;
    font-size: 1.8rem;
    color: var(--bg);
 }

 .films .box-container .box .flex .fa-edit{
    background-color: var(--main-color);
    border-radius: .5rem;
    font-size: 1.7rem;
    color: var(--white);   
    height: 3.5rem;
    width: 4.5rem;
    cursor: pointer;
 }
 
 .films .box-container .box .flex .fa-edit:hover{
    background-color: var(--black);
 }
 
 .films .box-container .box .sub-total{
    padding-bottom: 1rem;
    font-size: 1.7rem;
    color: var(--light-color);
 }
 
 .films .box-container .box .sub-total span{
    color: var(--red);
 }
 
 .films .cart-total{
    max-width: 40rem;
    margin: 0 auto;
    background-color: var(--white);
    margin-top: 2rem;
    border-radius: .5rem;
    border: var(--border);
    padding: 2rem;
    box-shadow: var(--box-shodow);
 }
 
 .films .cart-total p{
    padding-bottom: 1rem;
    font-size: 2rem;
    color: var(--light-color);
 }
 
 .films .cart-total p span{
    color: var(--red);
 }
 
.films  .box-container .box .content h3{
    color:#fff;
    font-size: 2.5rem;
}


 .films .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
 }
 
 .films .box-container .box{
    border: var(--border);
    box-shadow: var(--box-shodow);
    background-color: var(--white);
    padding: 2rem;
    border-radius: .5rem;
 }
 
 .films .box-container .box .image{
    height: 20rem;
    width: 100%;
    object-fit: contain;
    margin-bottom:2rem;
 }
 
 .films .box-container .box .name{
    font-size: 2rem;
    color: var(--light-bg
    );
 }
 
 .films .box-container .box .flex{
    padding-bottom: 1rem;
    display: flex;
    gap: 1rem;
    align-items: flex-end;
 }
 
 .films .box-container .box .price{
    font-size: 1.7rem;
    color: var(--red);
    margin-right: auto;
 }  
 
 .films .box-container .box .flex .seats{
    border: var(--border);
    border-radius: .5rem;
    padding:.5rem 1rem;
    width:6.5rem;
    font-size: 1.8rem;
    color: var(--black);
 }
 
 .films .box-container .box .flex .fa-edit{
    background-color: var(--main-color);
    border-radius: .5rem;
    font-size: 1.7rem;
    color: var(--black);   
    height: 3.5rem;
    width: 4.5rem;
    cursor: pointer;
 }
 
 .films .box-container .box .flex .fa-edit:hover{
    background-color: var(--main);
    color: var(--black);  

 }
 
 .films .box-container .box .sub-total{
    padding-bottom: 1rem;
    font-size: 1.7rem;
    color: var(--light-bg);
 }
 
 .films .box-container .box .sub-total span{
    color: var(--light-bg);
 }
 
 .films .cart-total{
    max-width: 40rem;
    margin: 0 auto;
    background-color: var(--box-shodow);
    margin-top: 2rem;
    border-radius: .5rem;
    border: var(--border);
    padding: 2rem;
    box-shadow: var(--box-shodow);
 }
 
 .films .cart-total p{
    padding-bottom: 1rem;
    font-size: 2rem;
    color: var(--light-bg);
 }
 
 .films .cart-total p span{
    color: var(--red);
 }
 


.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.review .box-container .box{
    border:var(--border);
    text-align: center;
    padding:3rem 2rem;
}

.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:#ccc;
    padding:2rem 0;
}

.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3{
    padding:1rem 0;
    font-size: 2rem;
    color:#fff;
}

.review .box-container .box .stars i{
    font-size: 1.5rem;
    color:var(--main-color);
}


.review .row{
    display: flex;
    background:var(--black);
    flex-wrap: wrap;
    gap:1rem;
}

.review .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.review .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.review .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:#fff;
}

.review .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border:var(--border);
}

.review .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.review .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}

.review .row form .inputBox textarea{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}










.contact .row{
    display: flex;
    background:var(--black);
    flex-wrap: wrap;
    gap:1rem;
}

.contact .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:#fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border:var(--border);
}

.contact .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}

.events .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.events .box-container .box{
    border:var(--border);    
}

.events .box-container .box .image{
    height: 25rem;
    overflow:hidden;
    width: 100%;
}

.events .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.events.box-container .box:hover .image img{
    transform: scale(1.2);
}

.events .box-container .box .content{
    padding:2rem;
}

.events .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color:#fff;
}

.events .box-container .box .content .title:hover{
    color:var(--main-color);
}

.events .box-container .box .content span{
    color:var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.events .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color:#ccc;
    padding:1rem 0;
}

.footer{
    background:var(--black);
    text-align: center;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:#fff;
    border:var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background:var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color:#fff;
    font-weight: lighter;
    padding:1.5rem;
}

.footer .credit span{
    color:var(--main-color);
}













/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var( --blackr);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}

.container {
    display: flex;
    background:var(--black);
    flex-wrap: wrap;
    gap:1rem;
    min-height: 100vh;
}
.container h3{
text-transform: uppercase;
font-size: 3.5rem;
color:#fff;
margin-top: 50px;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    color:#fff;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 70px;
   
   
    align-items: center;
   
}
th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    font-size: 2rem;
    color:#fff;
}
th {
    background-color: #9f1818;
}
.total {
    text-align: right;
    margin-top: 50px;
    font-weight: bold;
}


.log .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.log .box-container .box{
    border:var(--border);
    text-align: center;
    padding:3rem 2rem;
}

.log .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:#ccc;
    padding:2rem 0;
}

.log .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.log .box-container .box h3{
    padding:1rem 0;
    font-size: 2rem;
    color:#fff;
}

.log .box-container .box .stars i{
    font-size: 1.5rem;
    color:var(--main-color);
}


.log .row{
    display: flex;
    background:var(--black);
    flex-wrap: wrap;
    gap:1rem;
}

.log .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.log .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.log .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:#fff;
}

.log .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border:var(--border);
}

.log .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.log .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}

.log .row form .inputBox textarea{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}



.film-form{
 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(200vh - 15rem);
   
}
 
 .film-form form{
    border: var(--main-color);
    border-radius: .5rem;
    padding: 2rem;
    width: 50rem;
    background-color: var(--border);
    box-shadow: var(--box-shodow);
 }
 
 .film-form form h3{
    padding-bottom: 0rem;
    font-size: 6rem;
    color: var( --main-color);
    text-transform: capitalize;
    text-align: center;
 }
 
 .film-form form p{
    padding-top: 1rem;
    font-size: 1.7rem;
    color: var(--light-color);
 }
 
 .film-form form p span{
    color: red;
 }
 
 .film-form form .box{
    width: 100%;
    border-radius: .5rem;
    background-color: var(--light-bg);
    margin: 1rem 0;
    font-size: 1.8rem;
    color: var(--black);
    padding: 1.4rem;
 }


 .checkout .row form{
    flex: 1 1 50rem;
    background-color: var(--light-bg);
    box-shadow: var(--light-color);
    padding: 2rem;
    border-radius: .5rem;
    border: var(--main-color);
 }
 
 .checkout .row form h3{
    font-size: 2.5rem;
    color: var(--main-color);
    padding-bottom: 1rem;
    text-align: center;
    text-transform: capitalize;
 }
 
 .checkout .row form .input{
    width: 100%;
    background-color: var(--light-bg);
    border-radius: .5rem;
    padding: 1.4rem;
    color: var(--light-color);
    font-size: 1.8rem;
    margin: 1rem 0;
 }
 
 .checkout .row form .flex{
    display: flex;
    column-gap: 1.5rem;
    flex-wrap: wrap;
 }
 
 .checkout .row form .flex .box{
    flex:1 1 30rem;
 }
 
 .checkout .row form p{
    padding-top: 1rem;
    font-size: 1.6rem;
    color: var(--black);
 }
 
 .checkout .row form p span{
    color: var(--main-color);
 }
 
 .checkout .row form textarea{
    height: 15rem;
    resize: none;
 }
 
 .checkout .row .summary{
    background-color: var(--light-bg);
    box-shadow: var(--light-color);
    padding: 2rem;
    border-radius: .5rem;
    border: var(--border);
    flex: 1 1 30rem;
 }
 
 .checkout .row .summary .title{
    font-size: 2.2rem;
    color: var(--black);
    border-bottom: var(--border);
    margin-bottom: .5rem;
    text-transform: capitalize;
    align-items: center;
    padding-bottom: 1.5rem;
 }
 
 .checkout .row .summary .flex{
    display: flex;
    align-items: left;
    gap: 1.5rem;
    padding: 1rem 0;
 }
 
 .checkout .row .summary .flex img{
    height: 6rem;
    width: 6rem;
    object-fit: contain;
 }
 
 .checkout .row .summary .flex .name{
    font-size: 1.8rem;
    color: var(--black);
    padding-bottom: .5rem;
 }
 
 .checkout .row .summary .flex .price{
    font-size: 1.6rem;
    color: var(--red);
 }
 
 .checkout .row .summary .grand-total{
    background-color: var(--light-bg);
    border-radius: .5rem;
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: wrap;
    font-size: 2rem;
    margin-top: 1.5rem;
 }
 
 .checkout .row .summary .grand-total span{
    color: var(--light-color);
 }
 
 .checkout .row .summary .grand-total p{
    color: var(--main-color);
 }
 



 .orders .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--light-bg);
 }
 
 .orders .box-container .box{
    border: var(--border);
    box-shadow: var(--box-shodow);
    background-color: var( --light-bg);
    padding: 2rem;
    border-radius: .5rem;
 }
 
 .orders .box-container .box .date{
    padding:1rem 1.5rem;
    color: var(--light-color);
    background-color: var(--light-bg);
    font-size: 1.6rem;
    display: inline-block;
    margin-bottom: 1.5rem;
    border-radius: .5rem;
 }
 
 .orders .box-container .box .date i{
    margin-right: 1rem;
    color: var( --light-bg);
 }
 
 .orders .box-container .box .image{
    height: 20rem;
    width: 100%;
    object-fit: contain;
    margin: 1rem 0;
 }
 
 .orders .box-container .box .name{
    font-size: 2rem;
    color: var(--light-bg
    );
 }
 
 .orders .box-container .box .price{
    font-size: 1.7rem;
    color: var(--red);
    margin-right: auto;
 }
 
 .orders .box-container .box .status{
    padding-top: .5rem;
    font-size: 1.7rem;
 }
 
 .orders .box-container .box:hover{
    box-shadow: var(--box-shodow);
 }
 
 .orders .box-container .box:hover .date{
    background-color: var(--black);
    color: var(--white);
 }
 .orders .box-container .box:hover .date i{
    color: var(--white);
 }
 
 .order-details .box-container{
    background-color: var(--white);
    border: var(--border);
    border-radius: .5rem;
    padding: 2rem;
    box-shadow: var(--box-shodow);
 }
 
 .order-details .box-container .box{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow-x: hidden;
 }
 
 .order-details .box-container .box .col{
    flex: 1 1 40rem;
 }
 
 .order-details .box-container .box .col .image{
    height: 17rem;
    width: 100%;
    object-fit: contain;
    margin: 1rem 0;
 }
 
 .order-details .box-container .box .col .title{
    border-radius: .5rem;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    font-size: 1.7rem;
    color: var(--light-color);
    background-color: var(--light-bg);
    display: inline-block;
    text-transform: capitalize;
 }
 
 .order-details .box-container .box .col .title i{
    margin-right: 1rem;
    color: var(--black);
 }
 
 .order-details .box-container .box .col .price{
    color: var(--red);
    font-size: 1.8rem;
    padding: .5rem 0;
 }
 
 .order-details .box-container .box .col .name{
    font-size: 2rem;
    color: var(--black);
    text-overflow: ellipsis;
    overflow-x: hidden;
 }
 
 .order-details .box-container .box .col .user{
    padding: .7rem 0;
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.5;
 }
 
 .order-details .box-container .box .col .user i{
    margin-right: 1rem;
    color: var(--main-color);
 }
 
 .order-details .box-container .box .col .grand-total{
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding:1.5rem;
    font-size: 2rem;
    color: var(--white);
    border-radius: .5rem;
    text-transform: capitalize;
    margin-top: 1.5rem;
 }
 
 .order-details .box-container .box .col .grand-total span{
    color: var(--orange);
 }
 
 .order-details .box-container .box .col .status{
    font-size: 1.8rem;
    padding: .5rem 0;
 }
 